
.bg-danger{
    color: rgb(255, 62, 62);
}


a.nav-link {
    color: beige;
}
 header{
     font-family: 'Bitter', serif;
 }


  
  h1 {
      font-family: 'Bitter', serif;
  }
  h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;
}
 p {
      font-family: 'Ubuntu', sans-serif;
  }

  
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
