body{
    background-color: #faebd7;
}

   .gradient1{
       background: rgb(250,235,215);
   background: radial-gradient(circle, rgba(250,235,215,1) 1%, rgba(245,160,47,1) 48%, rgba(222,158,71,1) 100%);
   }

   section{ 
       height: 300px;
   }

  section div {
      position: absolute;
      transition: 2500ms ;
  }
  

  header{
      margin-bottom: 40px;
  }

  nav div{
      padding: 10px 20px;
      display: inline-block;
      border-bottom: 2px solid transparent;
      transition: background-color 3s, border-bottom 5s;
  }

  nav a{
      padding: 10px 20px;
      display: inline-block;
      border-bottom: 2px solid transparent;
      transition: background-color 3s, border-bottom 5s;
  }

  nav a:hover {
      background-color: rgb(255, 255, 255);
      border-bottom: 2px solid rgb(139, 139, 139);
  }

  nav div:hover {
      background-color: rgb(255, 255, 255);
      border-bottom: 2px solid rgb(139, 139, 139);
  }

      
/* translates */
/* cat1 translate*/
  #cat1.active {
   transform: translate(100px, 50%);
     
}

/* cat2 scale*/
#cat2:hover {
   transform: scale(0.5, 0.75);
      
}

/* cat3 translate + scale */
#cat3:hover {
   transform: translate(100px, 50%) scale(0.5, 0.75);
     
}

/* cat4 rotate */
#cat4:active {
   transform: rotate(-60deg);
      
}

/* cat5 skew */
#cat5:hover {
   transform: skew(30deg, 20deg);
      
}

/* cat6 skew + scale*/
#cat6:active {
   transform: skew(20deg, 120deg) scale(0.5);
      
}

/* text on images */
.card-img-overlay {
   
   text-align: center;
   top: 50%;
   transform: translateY(-50%);
   
}

/* text on images */
#cat1 h2 {
   position: absolute;
   font-size: 40px;
   text-align: center;
   left: 50%;
   width: 100%;
   transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
}
#cat2 h2 {
   position: absolute;
   font-size: 40px;
   text-align: center;
   left: 50%;
   width: 100%;
   transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
}
#cat3 h2 {
   position: absolute;
   font-size: 40px;
   text-align: center;
   left: 50%;
   width: 100%;
   transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
}
#cat4 h2 {
   position: absolute;
   font-size: 40px;
   text-align: center;
   left: 50%;
   width: 100%;
   transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
}

#cat5 h2 {
   position: absolute;
   font-size: 40px;
   text-align: center;
   left: 50%;
   width: 100%;
   transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
}

#cat6 h2 {
   position: absolute;
   font-size: 40px;
   text-align: center;
   left: 50%;
   width: 100%;
   transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
}

#logo:hover{
   transform: scale(1.47) translateY(5px);
   transition: 2500ms ;
}