
h1{
    font-family: 'Bitter', serif;
}
h6 {
    font-family: 'Bitter', serif;
    font-size: 2em;
}
h2,h3,h4,h5 {
  font-family: 'Ubuntu', sans-serif;
}
p {

    font-family: 'Ubuntu', sans-serif;
}

span.fs-3{
  font-family: 'Bitter',serif;
}
.bg-danger {
    --bs-bg-opacity: 1;
    background-color: #FF3E3E!important;
  }

.bg-light{
  background-color: #D8E2DC 
}

.btn-primary {
  color: #fff;
  background-color: #FFAE03;
  border-color: #FFAE03;
}
.border-primary {
  border-color: #FFAE03!important;
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #FFAE03!important;
}

.form-check-input:focus {
    border-color: #FFAE03;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #df9a05;
}
.form-check-input:checked {
    background-color: #FFAE03;
    border-color: #df9a05;
    
}
.btn-link-hover-color{
color:#FFAE03
}
.btn-primary:hover {
    color: #fff;
    background-color: #e09a01;
    border-color: #FFAE03;
}

a.nav-link {
  color: rgb(0, 0, 0);
  font-family: 'Ubuntu',sans-serif;
}

.nav-link:focus, .nav-link:hover {
    color: #ffffff;
}

a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black;}


[data-cart-items] {
  position: relative;
  display: inline-block;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ff6f61;
}